@font-face {
    font-family: "Curse Casual";
    src: url("fonts\Curse_Casual_Cyrillic.ttf");
}
@font-face {
    font-family: "DS Goose";
    src: url("fonts\DS_Goose.ttf");
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.navbar-img img {
    padding-left: 5vw;
    height: 100%;
    width: auto;
}
#desktop-nav {
    font-family: "Curse Casual";
}
#mobile-nav{
    font-family: "Curse Casual";
}
img.main__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    height: auto;
}
.pulse_on_hover {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation: pulse 2s linear infinite;
    animation-fill-mode: backwards;
    animation-play-state: paused;
}
.pulse_on_hover:active,
.pulse_on_hover:focus,
.pulse_on_hover:hover {
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.rotate_cw_on_hover {
    animation-name: rotate_cw;
    -webkit-animation-name: rotate_cw;
    animation: rotate_cw 5s linear infinite;
    animation-fill-mode: backwards;
    animation-play-state: paused;
}
.rotate_cw_on_hover:active,
.rotate_cw_on_hover:focus,
.rotate_cw_on_hover:hover {
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.rotate_ccw_on_hover {
    animation-name: rotate_ccw;
    -webkit-animation-name: rotate_ccw;
    animation: rotate_ccw 5s linear infinite;
    animation-fill-mode: backwards;
    animation-play-state: paused;
}
.rotate_ccw_on_hover:active,
.rotate_ccw_on_hover:focus,
.rotate_ccw_on_hover:hover {
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.column_left {
    border-radius: 15px 30px 5px 30px;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.column_right {
    border-radius: 30px 15px 30px 5px;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.column_material_icon {
    font-size: max(min(30vmin, 2em), 1em);
}
.main_material_icon {
    font-size: min(30vmin, 10em)
}
#copyright_footer {
    font-family: "DS Goose";
}
.pulse_animation {
    animation: pulse 2s infinite;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}
iframe.iframe_paded {
    border-radius: 5vmin;
    padding: 2vmin;
}
@keyframes pulse {
    0% {
        transform: scale(1.0);
    }
    25% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1.0);
    }
    75% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.0);
    }
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1.0);
    }
    25% {
        -webkit-transform: scale(1.25);
    }
    50% {
        -webkit-transform: scale(1.0);
    }
    75% {
        -webkit-transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(1.0);
    }
}
@keyframes rotate_cw {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate_cw {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes rotate_ccw {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-webkit-keyframes rotate_ccw {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
}